.container {
  max-width: 800px;
}

.table-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inactive {
  text-decoration: line-through;
  opacity: 0.3;
}
